<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">login</a></li>
   {{!--Removed the Searchbar and added the Logout Button --}} 
        <li><a href="#" id="logout">Log Out</a></li>
        </ul>
</nav>



  <script src="/js/logout.js"></script>

   
