<nav>
    <ul>
        <li><a href='/'>Home</a></li>
        {{!-- Only if the user is logged in will this link appear --}}
        {{!-- Notice how we can use the 'logged_in' here. We can do this by adding it to the 'res.render' in the routes. See line '87' --}}
        {{#if logged_in}}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/games">Game Info</a></li>
            {{!-- Had to change this to an id and not an href, since the href was taking longer than the js logic to log me out!! --}}
            <li id="logout">Logout</li>
        {{else}}
            <li><a href="/login">Dashboard</a></li>
            <li><a href='/login'>Login</a></li>
        {{/if}}
    </ul>
  </nav>



