<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="#" id="logout-btn">Log out</a></li>
  </ul>
</nav>

<script src="/js/logout.js"></script>
<script>
  const logoutButton = document.getElementById('logout-btn');
  logoutButton.addEventListener('click', function(event) {
    event.preventDefault();
    // Calling the logout function.
    logout();
  });
</script>



  <script src="/js/logout.js"></script>

   
