<nav>
  <ul>
    <li><a href="/gaming-blog/htmlBlueprint/home.html">Home</a></li>
    <li><a href="/gaming-blog/htmlBlueprint/dashboard.html">Dashboard</a></li>
    <li><a href="/gaming-blog/htmlBlueprint/login.html">login</a></li>
    <li>Log out</li>
  </ul>
</nav>

    {{!-- {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}} --}}