<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">login</a></li>
    <li>Log out</li>
  </ul>
</nav>

    {{!-- {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}} --}}