<nav>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Dashboard</a></li>
    <li><a href="">login</a></li>
    <li>Log out</li>
  </ul>
</nav>

    {{!-- {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}} --}}