
<div>
    <h1 class="dashboard-title">Your Current Posts</h1>
    {{#each posts as |post|}}

        {{> individualPosts post}}
        {{#each comments as |comment|}}            
        {{/each}}
        <button class="delete-something-button" data-id="{{post.id}}">Delete me</button>

    {{/each}}
</div>

{{!-- <button class="create-something-button" type="submit"><a href="/dashboard/createPost">Create New Post</a></button>
 --}}

 
<script src="/js/deletePost.js"></script>
<script src="/js/logout.js"></script>