body {
    background-color: #8EE4AF;
}

nav {
    background-color: #5CDB95;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a:visited {
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    text-decoration: underline;
}

.home-title {
    text-align: center;
    width: 80vh;
    margin: 10px auto;
}

.home-h1 {
    color: blue;
}

.home-h4 {
    color: black;
}

.post-item {
    border: 2px dotted #05384B;
    text-align: center;
    width: 40vh;
    margin: 0 auto;
    padding-bottom: 10px;
}

.home-posts-area {
    list-style-type: none;
    margin-bottom: 5px;
}

.login-card, .signup-card {
    width: 40vh;
    margin: 10px auto;
    padding-bottom: 10px;
    border: 2px solid red;
    padding-left: 30px;
}