#logout {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

ul {
  list-style: none;
}

li::before {
  content: "•"; color: black;
}

li::before {
  content: "•"; color: black;
  display: inline-block; width: 1em;
  margin-left: -1em
}